* {
    margin: 0;
    padding: 0;
    /* font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif; */
}

.log {
    height: 100vh;
    width: 100%;
    display: flex;
}

.logi {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.655);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.log1 {
    height: 100%;
    width: 50%;
    /* background-color: #043c4b; */
    background-image: url(/images/pexels-cottonbro-studio-3206079.jpg);
    background-size: cover;

    color: #fff;

}


.log1 h1 {
    font-size: 76px;
}

.log1 button {
    width: 25%;
    height: 7%;
    background-color: #043c4b;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    /* border: none; */
}

.log1 h2 {
    font-size: 28px;
    width: 80%;
}

.log1 p {
    width: 80%;
    color: #dcb187;
    transition: 0.3s ease-in-out;

}

.log1 p:hover {
    color: #fff;
}

.log2 {
    height: 100%;
    width: 50%;
    background-color: #043c4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.log2 h1 {
    color: #fff;
}

.log2 p {
    color: #868ba1;
}

.log2 input {
    width: 50%;
    /* height: 6%; */
    /* padding-left: 20px; */
    padding: 10px;
    color: #043c4b;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #999;
    border: 1px solid #dcb187;
}

::placeholder {
    color: #043c4b;
    font-weight: 700;
}

.log2 button {
    width: 40%;
    height: 6%;
    background-color: #dcb187;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 50px;
    font-size: 20px;

}
.log2 a {
    color: #dcb187;
    text-decoration: none;
}

@media (max-width:1024px) {
    .log {
        flex-direction: column-reverse;

    }

    
    .log2 {
        width: 100%;
        height: 50%;

    }

    .log1{
        height: max-content;
        width: 100%;
    }
    .logi {
        height: max-content;
    } 

    .log1 button {
        width: 80%;
        height: 40px;
    }

    .log2 button {
        height: 100%;
        width: 50%;
    }
}

